[submodule "Worlds/ext/glfw"]
	path = Worlds/ext/glfw
	url = https://github.com/glfw/glfw
[submodule "Worlds/ext/glm"]
	path = Worlds/ext/glm
	url = https://github.com/g-truc/glm
[submodule "Worlds/ext/spdlog"]
	path = Worlds/ext/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Worlds/ext/entt"]
	path = Worlds/ext/entt
	url = https://github.com/skypjack/entt
